/* You can add global styles to this file, and also import other style files */
html {
    background-image: url("assets/img/jaci.jpg"), url("assets/img/dds-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

// img {
//     background-image: url("assets/img/jaci.jpg");
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-position: center;
//     background-size: contain;
// }